.one {
    background-color: grey;
}

.two {
    background-color: burlywood;
}
.three {
    background-color: grey;
}

.section-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto;
}

.intro-section-container {
    display: flex;
    width: 80%;
    height: 91vh;
}

.intro-start-container {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-start-container div{
    width: 50%;
}

.intro-start-container img{

    width: 30vw;

}

.intro-steps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-step {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.intro-step img{
width: 200px;
}

.intro-footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.users-valoration {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}


.valoration img {
    width: 1.8vw;
    margin: 2px;
}

.userImg {
    border-radius: 100px;
    width: 120px;
    margin: 30px;
}

.valoration-container {
    display: flex;
}

.users-valoration {
    height: 80%;
}

.users-valoration h1{
    font-size: 2rem;
    margin: 70px 30px;
}

footer {
    width: 100%;
    height: 20%;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
}

