.main-head {
  width: 50%;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  padding-top: 200px;
  text-align: center;
}

.main-head h1 {
  color: aliceblue;
  font-size: 3.5rem;
}

.section-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro-section-container {
  display: flex;
  width: 100%;
}

.button-container {
  display: flex;
  font-size: 2rem;
}

.intro-start-container {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(31, 31, 31, 0.1), rgba(31, 31, 31, 0.4));
  color: aliceblue;
  flex-wrap: wrap;
  
}


.intro-start-container img {
  width: 50vh;
  z-index: 0.5;
  animation-name: burger;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-play-state: running;
  animation-delay: 1s; 
}

@keyframes burger {
    40% {transform: scale(1.1) }
}


.intro-steps-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(31, 31, 31, 0.4), rgba(31, 31, 31, 0.4));
  height: 100%;
  width: 100%;
}

.intro-step {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: rgb(230, 234, 238);
  font-size: 1.5rem;
}

.intro-step h2 {
  color: azure;
}

.intro-step img {
  width: 200px;
}

.top-footer-title {
  background-color: #1e1e1e;
}

.top-footer-title h1 {
  color: aliceblue;
}

.intro-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.users-valoration {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

.valoration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.valoration img {
  width: 20px;
  margin: 2px;

}

.userImg {
  border-radius: 100px;
  width: 120px;
  margin: 30px;
}

.valoration-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  width: 100vw;
  color: aliceblue;
  background-color: #1e1e1e;
  padding-bottom: 50px;
}

.valoration-container h2 {
  color: aliceblue;
}

.valoration-container p {
    width: 80%;
    margin: 20px 0;
}

.users-valoration h1 {
  font-size: 2rem;
  margin: 70px 30px;
}

footer {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  color: black;
  text-align: center;
  color: aliceblue;
  margin-top: 40px;
}

.developers-container img {
  width: 20px;
  margin: 0 20px;
  text-align: center;
}

.developers-container div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.developers-container p {
  margin: 20px 0;
}

.header-footer {
  font-size: 1.5rem;
}

.bottom-page {
  background: linear-gradient(rgba(31, 31, 31, 0.4), rgba(31, 31, 31, 0.4));
  color: aliceblue;
  font-size: 1.1rem;
}

.bottom-page h4 {
  color: aliceblue;
}

.footer-contacts div{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.email-img{
    margin: 0 20px;
    width: 30px;
    height: 20px;
}
.phone-img {
    width: 50px;
    height: 30px;
}

.phone-container p{
    margin: 0 15px;
}

@media (min-width: 1000px) {
    .main-head {
      padding-top: 0px;
      height: 100vh;
      font-size: 3rem;
    }
    .main-head h1 {
      font-size: 5rem;
    }
    .intro-steps-container {
      height: 100vh;
  
    }
    .intro-step {
      width: 50%;
    }
  
    .valoration-container {
      display: flex;
      flex-direction: row;
    }
  
    .intro-footer-container {
      height: 100vh;
    }
  }
  @media (max-width: 700px) {
    
    .intro-start-container img {
        width: 300px;
      }
      
  }

  @media (max-width: 420px) {
    footer {
    flex-direction: column;
    }
    
    .intro-start-container img {
        width: 250px;
        margin: 80px;
      }

      .main-head {
        padding-top: 60px;
      }

      .main-head h1 {
        font-size: 3rem;
      }

      .intro-link-start {
        font-size: 1rem;
        padding: 0 50px;
      }

      
  }
  