@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
 --brown-tasteit: rgb(106,92,92)
}

body {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

/* Details page*/
.back-details-icon {
  position: fixed;
  top: 8.5%;
  left: 50px;
  font-size: 2.5rem;
  color: black;
  z-index: 1;
}

.back-details-icon:hover {
 transform: scale(1.5);
 color: var(--brown-tasteit);
 transition: all .5s ease 0s;
}

.main-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.product-details-container {
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
  padding: 0;
  margin: 10px 0;
  width: 85%;
  border: 1px solid rgba(107, 45, 9, 0.3);
  background: linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.05));
}

.product-details-container img {
  width: 280px;
  height: 260px;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.5);
  margin: 0;
}

.product-details-container img:hover {
  transform: scale(1.02);
  transition: all .5s ease 0s;
  box-shadow: 0 0 2px 2px rgba(107, 45, 9, 0.5);
}

.product-details-wrapper {
  width: 52%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0;
}

.product-details-wrapper h3 {
  font-size: 40px;
  color: rgba(0,0,0,.9);
  padding: 0;
  margin: 0;
  line-height: 40px;
}

.details-span {
  font-size: 20px;
  margin: 4px 0 0 0;
}

.details-sub-span {
  font-weight: bold;
  color: black;
}

.details-description {
  margin: -4px 0 0 0;
  color:rgba(0, 0, 0, 0.6);
  width: 100%;
  word-wrap: break-word;
}

.details-secondary {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

.details-price {
  margin: 1px 0;
  font-weight: bolder;
  font-size: 35px;
  color: red;
}

.rate-star-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.rate-star-container p {
  font-weight: 700;
  margin: 6px 0 0 0;
  padding: 0;
}

.ant-rate-star {
  background-color: rgba(133, 24, 0, 0.55);
  line-height: 10px;
  margin: 0;
}

/* Counter */
.counter-price-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin: 10px 0;
}

.counter-quantity-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
}

.counter-quantity-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.counter {
  background-color: white;
  margin: 0;
  font-size: 20px;
  width: 36px;
  height: 32px;
  line-height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}

.counter:hover {
  transform: scale(1.1);
  transition: all .5s ease 0s;
  box-shadow: 0 0 1px 1px black;
}



/* Carousel */
.products-container {
  margin: 0;
  width: 80%;
}

.products-container h2 {
  text-align: center;
  font-size: 30px;
}

.scroll-area {
  height: 320px;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  height: 270px;
  display: flex;
  align-items: center;
}

.carousel-images {
  width: 220px;
  height: 195px;
  border-radius: 10px;
}

.carousel-images:hover {
  transform: scale(1.05);
  transition: all .5s ease 0s;
  box-shadow: 0 6px 3px #888888;
}

#carousel-name {
  font-size: 21px;
  font-weight: 500;
  color: rgb(17, 49, 2)
}

#carousel-price {
  font-weight: bold;
  font-size: 17px;
}

.carousel-items {
  margin: 0
}

.wrapper {
  margin: 20px;
  width: 180%;
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 30px;
  will-change: transform;
  white-space: nowrap;
  animation: scroll-area 16s linear infinite;
}

.wrapper:hover {
  animation-play-state: paused;
}

@keyframes scroll-area {
  from {
    transform: translateX(0)
  }
  to {
    transform: translateX(-60%);
  }
}

/* Product comments component */
.comments-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 6px 3px #888888;
  border: 1px solid rgba(107, 45, 9, 0.3);
  margin: 0 auto 10px;
  background-color: rgba(255,255,255, .8);
}

#comments-title {
  margin: 20px 0 0 0;
  font-size: 30px;
}

.comment-box {
  width: 80%;
  height: 130px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 20px;
}

.comment-btn-container {
  width: 60vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.comment-btn-container button {
  height: 25px;
}

.comment-user {
  width: 85%;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid rgba(0, 0, 0, .3)
}


/* ends */

.cart-back-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 20px;
  margin-left: 15px;
  border: none;
  background-color: transparent;
}

.top-title {
  margin-left: 10px;
  font-size: 20px;
}

.quantity-items {
  margin-left: 10px;
  color: grey;
  font-size: 20px;
}

.cart-button {
  position: fixed;
  border: 1px solid;
  border-radius: 10%;
  right: 50px;
  top: 10%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  transition: all .5s ease 0s;
}

.cart-button:hover {
  transform: scale(1.5);
  color: white;
  transition: all .5s ease 0s;
  background-color: var(--brown-tasteit);
}
.cart-button-quantity {
  position: absolute;
  border-radius: 50%;
  margin: 0 0 6px 5px;
  font-size: 0.7rem;
  font-weight: 800;
  top: 1;
  right: 1;
  color: rgb(255, 77, 77);
}

/* Navbar */

.icons:hover {
  transform: scale(1.5);
  transition: all .5s ease 0s;
  color: #fff;
}

.navbar-container-main {
  position: fixed;
  height: 5vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(106,92,92,1) 25%, rgba(0,0,0,1) 96%);
  box-shadow: 0 1px 6px 3px #888888;
  z-index: 1;
  margin: 0
}

.navbar-container {
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: row;
 height: 5vh;
 margin: 0 40px;
}


.home-icon {
  color: white;
  font-size: 1.5rem;
}

.loged-icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.home-button-off {
 font-size: 2rem;
}

/* Home */
.home-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.homeBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.container-home{
  height: 300px;
  margin: 7vh auto;
  position: relative;
  overflow: hidden;
}

.container-home:hover .overlay-home{
  opacity: 1;
  transform: scale(1.5);
  transition: all .5s ease 0s;
}

.overlay-home{
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .5s ease 0s;

}

.overlay-home span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  font-family: Sans-serif;
}

.all-foods{
  background-image: url('./assets/all.jpg');
}

.drinks{
  background-image: url('./assets/bebidas.jpg');
}

.food {
  background-image: url('./assets/comidas.jpg');
}

.desserts {
  background-image: url('./assets/postre.jpg');
}

.desserts, .drinks, .food, .all-foods {
  background-size: cover;
  width: 20vw;
  border-radius: 3%;
  box-shadow: 0 0px 0 1px #888888;
  background-position: center;

  box-shadow: 0 3px 3px 3px #888888;
  
}

.desserts:hover, .drinks:hover, .food:hover, .all-foods:hover {
  transition: all .7s ease 0s;
  transform: scale(1.1);
  box-shadow: 0px 40px 20px 10px #888888;
}

.ant-divider-inner-text {
  font-size: 1.5rem;
}

.details-divider {
  font-size: 1.5rem;
  margin-top:20px
}

/* purchase*/
.purchase-table-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px;
  text-align: center;
  gap: 50px;
  padding-top: 100px
}

.table-container tr, td{
  background-color: #fff;
  padding: 1vw;

}
.table-container{
  background-color: #fff;
  padding: 1vw;
  box-shadow: 0 3px 10px 2px;

}

.table-container tr {
  border: 1px solid;

}

.purchase-payment-state {
  font-weight: 600;
  color: darkgreen;
}

.thead-container {
  height: 5vh;
  font-size: 1rem;
}

.thead-container th{
  border: 1px solid;
  width: 15vw;
  background: linear-gradient(0deg, rgba(106,92,92,1) 25%, rgba(0,0,0,1) 96%);
  color: #fff;
}

.modal-purchase-main {
  display: flex;
  justify-content: center;
}

.modal-purchase-main th{
  height: 50px;
}

.modal-purchase-footer tr{
  display: flex;
  justify-content: space-between;
}

.modal-purchase-main thead{
  background: bisque;
}

.modal-purchase-main tr {
  border: 1px solid;
}

.modal-footer-text {
  font-weight: 700;
  background-color: bisque;
  width: 100px;

}

.modal-footer-cost {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}


/* Food list*/

.searcher-list {
  padding-top: 70px;
}

.card-images {
  width: 200px;
  height: 160px;
  margin-bottom: 20px;
}

.ant-card {
  margin: 30px;
  width: 250px;
  height: 400px;
  background: linear-gradient(rgba(247, 243, 243, 0.8), rgba(231, 227, 227, 0.8));
  border: none;
  box-shadow: 0 0 4px 0;
  opacity: 1;
  animation-name: cards;
  animation-iteration-count: 1;
  animation-duration: .7s;
} 

@keyframes cards {
  50% {transform: rotate(10deg)}
}

.card-link {
  padding-bottom: 280px
}

.cards-list-main {
  margin: 0 auto;
}

.cards-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 150px;

}

.ant-card:hover {
  transform: scale(1.1);
  transition: all .5s ease 0s;
  box-shadow: 0px 20px 25px 0px;
  transform: rotate(3deg)
}


/* Favourites page */
#favourites-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 0 0;
}

#favourites-wrapper-title {
  font-size: 30px;
}

#favourites-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 90%;
}

.list-fav-icons {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.icons-like:hover {
  transform: scale(1.8);
  transition: all .5s ease 0s;
  background-color: transparent;
}

.icons-like {
  background-color: transparent;
}

.icon-heart-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.card-link {
  color: black;
}

.card-link:hover {
  color: black;
}

/* Spinner */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.spinner-title {
  font-size: 1.8rem;
  color: var(--brown-tasteit);
  font-family: 'Carter One', cursive;
  padding-top: 160px ;
}

.spinner {
  position: absolute;
  top: 16%;
  width: 500px;
  z-index: 1;
  
}


.blinking {

  animation: opacity 2s ease-in-out infinite;
  opacity: 1;
}

/* Shopping cart */

.shopping-card-container {
  padding-top: 60px;
}

.cart-main-container {
    padding: 20px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    font-size: 1.1rem;
    margin: 0 50px;
}

.cart-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 40px 0;
  font-size: 1.2rem;
  border: 1px solid lightgray;
  padding: 5;
  border-radius: 5,
}

.cart-container img{ 
  margin: 10px;
  width: 60px;
  height: 50px;
  border-radius: 2
}

.product-cart-container {
  width: 100%;
  padding: 6;
  margin: 0 8px 5px 10px
}

.product-cart-container p{
  margin: 0
}


.product-cart-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.quantity-cart-text {
  font-size: 0.9rem;
}

.price-cart-container {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
}

.price-cart-container .divider-cart{
 margin: 0;
}

@keyframes opacity {
0% {
  opacity: 1;
}

50% {
  opacity: 0
}

100% {
  opacity: 1;
}
}

/* Buttons */

.main-buttons {
  background: linear-gradient(180deg, rgba(106,92,92,1) 25%, rgba(0,0,0,1) 96%);
  box-shadow: 0 1px 6px 3px #888888;
  border: none;
  color: aliceblue;
  font-weight: 600;
  border-radius: 5px;
  margin: 2vw
}

.main-buttons:hover {
  box-shadow: none;
  opacity: 1;
  transition: all .5s ease 0s;

}

.edit-button:hover {
  transform: scale(1.2);
  transition: all .5s ease 0s;
  background: var(--brown-tasteit);
}
.button-delete:hover {
  background-color: rgb(136, 17, 17);
}



/* Profile*/
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 10vh 5vw;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.85);
  background-color: rgba(106,92,92,0.8);
  border-radius: 20px;
}

.profile-wrapper:hover {
  box-shadow: 0px 0px 3px 3px rgba(73, 30, 6, 0.8);
  transition: all .5s ease 0s;
  background-color: rgba(106,92,92,1);
}

.profile-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-personal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  border-radius: 7px;
}

.profile-personal-details h1 {
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
}

.profile-personal-details h3 {
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  color:rgba(0, 0, 0, 0.6)
}

.profile-divider {
  width: 100%;
  height: 0;
  margin: 2px 0;
  border: 1px solid rgba(231, 227, 227, 0.9)
}

.profile-photo {
  width: 220px;
  height: 220px;
  border-radius: 140px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.85);
}

.profile-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 70px;
  text-align: center;
}

.link-profile{
  font-size: 1rem;
  color: var(--brown-tasteit);
  margin: 25px;
  border: 1px solid;
  padding: 2px 5px;
  box-shadow: 0 1px 4px 3px #888888;
  border-radius: 3px;
}

.intro-link-start {
  background-color: var(--brown-tasteit);
  border: none;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 8px;
  box-shadow: 0 2px 20px 1px #1e1e1e;
}

.payment-button{
  margin: 20px 0;
  width: 100%;
  font-size: 1.1rem;
  background-color: #1e1e1e;
}

.payment-button:hover {
  background-color: green;
}

.intro-link-start:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px 2px #1e1e1e;
  transition: all .5s ease 0s;

}

.link-profile:hover{
  transition: all .5s ease 0s;
  background: linear-gradient(180deg, rgba(106,92,92,1) 25%, rgba(0,0,0,1) 96%);
  border-color: transparent;
  color: white;
}

.payment-container {
  border: 1px solid;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  margin: 0;
}

.card-element {
  border: 1px solid;
  padding: 5px;
  background: white;
  border-radius: 5px;
}

.payment-container img{
  width: 8vw;
}

.payment-header {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  gap: 50px;
}

.payment-header span {
  color: darkgreen;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .home-main-container {
    flex-direction: column;
    width: 100vw;
  }

 .desserts, .drinks, .food, .all-foods {
    width: 60vw; 
    height: 20vh;
    background-position: center;
  }

  .profile-container {
    padding: 10vh 10px;
  }
}

@media (max-width: 780px) {
  .product-details-container {
    height: 75vh;
    align-items: start;
  }

  .product-details-wrapper {
    width: 100%;
  }

  .icon-profile {
    margin: 20px
  
  }
  .profile-wrapper {
    width: 90%
  }
}


 .profile-wrapper {
    width: 90%
  }

@media (max-width: 900px) {
  .profile-personal-details {
    width: 90%;
  }

  .profile-photo {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 1200px) {
  .desserts, .drinks, .food, .all-foods { 
    height: 30vh;
    width: 30vw;
  }
}

@media (min-width: 600px) {
  .homeBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36vw;
    flex-wrap: wrap;
    flex-direction: column;
  }

}



