body {
  background-image: url('./assets/background.jpg');
  background-size: cover;
}

.homeBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  gap: 50px;
}

/* Product comments component */
.ant-comment {
  width: 500px;
}

.ant-list {
  width: 500px;
}

.cart-back-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 20px;
  margin-left: 15px;
  border: none;
  background-color: transparent;
}

.top-title {
  margin-left: 10px;
  font-size: 20px;
}

.quantity-items {
  margin-left: 10px;
  color: grey;
  font-size: 20px;
}

.cart-button {
  border: none;
  border-radius: 50%;
  padding: 10px;
  position: fixed;
  right: 20px;
  top: 20%;
}

.image-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image-text {
  position: absolute;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0;
  padding: 10%;
}

.home-image-text:hover {
  background: rgba(0, 0, 0, 0.4);
  opacity: 1;
}
