.homeBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  gap: 50px;
}

/* Product comments component */
.ant-comment {
  width: 500px;
}

.ant-list {
  width: 500px;
}